{% extends 'jagruti/base.html' %}
{% load static %}
 
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

<!-- About Us Section -->
  <section class="about-us-section">
    <div class="container1">
      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="about-content">
            <h2 class="h">About Us</h2>
            <p>
              Welcome to Bhramani Kirana Store, your trusted destination for top-quality groceries. We are committed to providing you with a remarkable grocery shopping experience, delivering the finest products directly to your doorstep.
            </p>
            <p>
              Our team is dedicated to offering a diverse range of groceries, from farm-fresh produce to pantry essentials. Your satisfaction is our priority, and we aim to surpass your expectations every time.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="{% static 'images/about.jpg' %}" alt="About Us Image" class="img-fluid ">
          <img src="{% static 'images/about1.jpg' %}" alt="About Us Image" class="img-fluid1 ">
        </div>
      </div>
    </div>
  </section>


<section class="contact-section">
    <div class="container">
        <h1 class="text-center h2">Contact Us</h1>
        <div class="row mt-5 text-center">
            <div class="col-md-4">
                <div class="contact-card">
                    <i class="fas fa-phone"></i>
                    <h4>Contact</h4>
                    <p class="text-danger"><a href="tel:8347988054">9904267738</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-card">
                    <i class="fas fa-envelope"></i>
                    <h4>Email</h4>
                    <p class="text-danger"><a href="mailto:jay.prjpti@gmail.com">jay.prjpti0099@gmail.com</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-card">
                    <i class="fas fa-map-marker-alt"></i>
                    <h4>Office Address</h4>
                    <p><a href="https://maps.google.com/maps?q=ghorahi">Ghorahi, Dang</a></p>
                </div>
            </div>
        </div>
        <div class="row mt-4 text-center">
            <div class="col-md-12">
                <div class="contact-card time">
                    <i class="far fa-clock"></i>
                    <h4>Shop Time</h4>
                    <p>6:00 AM to 1:00 PM and 4:00 PM to 9:00 PM</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}