{% extends 'jagruti/base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <h1>Password Reset</h1>
    <p>Please answer the following security questions to reset your password.</p>

    <form method="post" action="{% url 'fp'%}">
        {% csrf_token %}
         
        <!-- Security Question 1 -->
        

        <!-- Security Question 2 -->
        <label for="security_question_2">New Password</label>
        <input type="text" id="security_question_2" name="password" required>

        

        <button type="submit">Submit</button>
    </form>
</body>
{% endblock %}
