{% extends 'jagruti/base.html' %}
{% load static %}

{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/success.css' %}">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->


  <section class="signup">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="card">
                <div class="popup">
                  <h2 class="form-title">Order Successfully Placed!</h2>
                  <div class="party-popper">&#127881;</div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </section>

<!--  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->



{% endblock %}