{% extends "jagruti/base.html"%}
{% load static %}
{% block content %}



<!-- Font Icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">





<!-- Sign up form -->
<section class="signup">
    <div class="contain main">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Registration Form</h2>
                {% if msg %}
                     <h3 style="color: red;">{{msg}}</h3>
                {% endif %}
                <form method="POST" class="register-form" id="register-form" action="{% url 'registeruser' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name"><i class="fas fa-user"></i></label>
                        <input type="text" name="firstname" id="name" placeholder="First Name" required/>
                    </div>
                    <div class="form-group">
                        <label for="name"><i class="fas fa-user"></i></label>
                        <input type="text" name="lastname" id="name" placeholder="Last Name" required/>
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="fas fa-envelope"></i></label>
                        <input type="email" name="email" id="email" placeholder="Your Email" required/>
                    </div>
                    <div class="form-group">
                        <label for="Address"><i class="fas fa-user"></i></label>
                        <input type="text" name="address" id="Address" placeholder="Address" required/>
                    </div>
                    <div class="form-group">
                        <label for="MobileNumber"><i class="fas fa-envelope"></i></label>
                        <input type="tel" name="mnumber" id="" placeholder="Your MobileNumber" required/>
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="fas fa-lock"></i></label>
                        <input type="password" name="password" id="pass" placeholder="Password" required/>
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" name="cpassword" id="re_pass" placeholder="Repeat your password" required/>
                    </div>
                    <div class="form-group">
                      <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required/>
                      <label for="agree-term" class="label-agree-term"><span><span></span></span>
                        I agree all statements in <a href="#" class="term-service">Terms of service</a>
                      </label>
                        <a href="{% url 'loginpage' %}" class="signup-image-link">I am already a member</a>
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="{% static 'images/register.png' %}" alt="sing up image"></figure>
            </div>
        </div>
    </div>
</section>






















<!--<section class="vh" style="background-color: #111;">-->
<!--  <div class="container">-->
<!--    <div class="row d-flex justify-content-center align-items-center ">-->
<!--      <div class="col-lg-12 col-xl-11">-->
<!--        <div class="card text-black mt-4" style="border-radius: 25px;">-->
<!--          <div class="card-body p-md-5">-->
<!--            <div class="row justify-content-center">-->
<!--              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">-->

<!--                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>-->

<!--                <form class="mx-1 mx-md-4">-->

<!--                  <div class="d-flex flex-row align-items-center mb-4">-->
<!--                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>-->
<!--                    <div class="form-outline flex-fill mb-0">-->
<!--                      <input type="text" id="form3Example1c" class="form-control" />-->
<!--                      <label class="form-label" for="form3Example1c">Your Name</label>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <div class="d-flex flex-row align-items-center mb-4">-->
<!--                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>-->
<!--                    <div class="form-outline flex-fill mb-0">-->
<!--                      <input type="email" id="form3Example3c" class="form-control" />-->
<!--                      <label class="form-label" for="form3Example3c">Your Email</label>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <div class="d-flex flex-row align-items-center mb-4">-->
<!--                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>-->
<!--                    <div class="form-outline flex-fill mb-0">-->
<!--                      <input type="password" id="form3Example4c" class="form-control" />-->
<!--                      <label class="form-label" for="form3Example4c">Password</label>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <div class="d-flex flex-row align-items-center mb-4">-->
<!--                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>-->
<!--                    <div class="form-outline flex-fill mb-0">-->
<!--                      <input type="password" id="form3Example4cd" class="form-control" />-->
<!--                      <label class="form-label" for="form3Example4cd">Repeat your password</label>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <div class="form-check d-flex justify-content-center mb-5">-->
<!--                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />-->
<!--                    <label class="form-check-label" for="form2Example3">-->
<!--                      I agree all statements in <a href="#!">Terms of service</a>-->
<!--                    </label>-->
<!--                  </div>-->

<!--                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">-->
<!--                    <button type="button" class="btn btn-primary btn-lg">Register</button>-->
<!--                  </div>-->

<!--                </form>-->

<!--              </div>-->
<!--              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">-->

<!--                <img src="{% static 'images/register.png' %}"-->
<!--                  class="img-fluid" alt="Sample image">-->

<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--<div class="register mt-5">-->
<!--  <div class="row justify-content-center">-->
<!--    <div class="col-md-6">-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h2 class="card-title text-center">Register</h2>-->
<!--          <form method="post">-->
<!--            {% csrf_token %}-->
<!--            <div class="form-group">-->
<!--              <label for="first_name">First Name</label>-->
<!--              <input type="text" class="form-control" id="first_name" name="first_name" required>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label for="last_name">Last Name</label>-->
<!--              <input type="text" class="form-control" id="last_name" name="last_name" required>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label for="email">Email Address</label>-->
<!--              <input type="email" class="form-control" id="email" name="email" required>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label for="mobile">Mobile Number</label>-->
<!--              <input type="text" class="form-control" id="mobile" name="mobile" required>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label for="password">Password</label>-->
<!--              <input type="password" class="form-control" id="password" name="password" required>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label for="confirm_password">Confirm Password</label>-->
<!--              <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>-->
<!--          </form>-->
<!--          <div class="text-center mt-3">-->
<!--            Already have an account? <a href="{% url 'loginpage' %}">Login Now</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--
Author: Colorlib
Author URL: https://colorlib.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<title>Registration Form</title>-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>-->
<!--&lt;!&ndash; Custom Theme files &ndash;&gt;-->
<!--<link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />-->
<!--&lt;!&ndash; //Custom Theme files &ndash;&gt;-->
<!--&lt;!&ndash; web font &ndash;&gt;-->
<!--<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">-->
<!--&lt;!&ndash; //web font &ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--	&lt;!&ndash; main &ndash;&gt;-->
<!--	<div class="main-w3layouts wrapper">-->
<!--		<h1>Registration Form</h1>-->
<!--		{% if msg %}-->
<!--			<h2 style="color:red">{{msg}}</h2>-->
<!--		{% endif %}-->
<!--		<div class="main-agileinfo">-->
<!--			<div class="agileits-top">-->
<!--				<form action="{% url 'registeruser' %}" method="post">-->
<!--					{% csrf_token %}-->
<!--					<input class="text" type="text" name="firstname" placeholder="Firstname" required=""><br>-->
<!--					<input class="text" type="text" name="lastname" placeholder="Lastname" required=""><br>-->
<!--					<input class="text" type="text" name="address" placeholder="Address" required=""><br><br>-->
<!--					<div> -->
<!--						<label>Mobile Number</label>-->
<!--						<input class="number" type="number" name="mnumber" placeholder="Mobile Number" required="">-->
<!--					</div><br><br>-->
<!--					<input class="text email" type="email" name="email" placeholder="Email" required="">-->
<!--					<input class="text" type="password" name="password" placeholder="Password" required="">-->
<!--					<input class="text w3lpass" type="password" name="cpassword" placeholder="Confirm Password" required="">-->
<!--				 -->
<!--					<input type="submit" value="SIGNUP">-->
<!--				</form>-->
<!--				<p>Don't have an Account? <a href="#"> Login Now!</a></p>-->
<!--			</div>-->
<!--		</div>-->
<!--	 -->
<!--		<ul class="colorlib-bubbles">-->
<!--			<li></li>-->
<!--			<li></li>-->
<!--			<li></li>-->
<!--			<li></li>-->
<!--			<li></li>-->
<!--			<li></li>-->
<!--			<li></li>-->
<!--			<li></li>-->
<!--			<li></li>-->
<!--			<li></li>-->
<!--		</ul>-->
<!--	</div>-->
<!--	&lt;!&ndash; //main &ndash;&gt;-->
<!--</body>-->
<!--</html>-->
{% endblock %}